*{margin: 0 auto;padding:0 auto;}
img{ max-width:100%;margin: 0 auto;}
h1{font-size:38px;font-weight: 700;}
h2{font-size:35px;font-weight: 700;}
h6{font-size: 18px;font-weight: 700;}
p{font-size:16px;font-weight: normal;font-family: montserrat, sans-serif;}
a{font-weight: normal;text-decoration: none;}
ul{text-align: center;padding: 0;margin: 0;}
ul li{list-style: none;}
.org{color: #ee6e25;text-decoration: none;}
body{margin: 0 auto;font-family: montserrat, sans-serif; }
.padd0{padding:0!important;}
.clear{clear: both;font-size: 0;line-height: 0;display: block;}
.wrapper { margin: 0 auto;}
.header  {position: absolute;top: 0;left: 0;right: 0;width: 100%;background: #000000;z-index: 9999;padding:30px 0;}
.header .logo {float: left;width:135px;padding: 6px 0;}
.header .logo a { display: block;}
.header .nav { float: right;}
.header .nav ul.head-nav{padding:0;}
.header .nav ul {float: right;padding: 20px 0 0 0;}
.header .nav ul li {list-style: none;float: left;padding-right: 20px;}
.header .nav ul li a {font-weight: normal;font-size: 14px; text-transform: uppercase;color: #ffffff;letter-spacing: 1px;text-decoration: none;}
.header .nav ul li a:hover {color: #cf1c1c;}
.header .nav ul li:last-child div.search-container{background: #ee6e25;margin-top:6px;border-radius:100px;}
.header .nav ul li div.search-container{padding: 0 10px;}
.header .nav ul li div.search-container svg{width:15px;color: #ffffff;}
.header .nav ul li div.search-container input{background: transparent;border: 0;width:120px;height: 45px;font-size:14px;color: rgba(255, 255, 255, 1);outline: 0;border-radius:100px;}
.header .nav ul li div.search-container:hover,.header .nav ul li div.search-container input:hover{background: rgba(199,199,199)}
.header .nav ul li div.search-container:hover svg,.header .nav ul li div.search-container input:hover svg{color:#ee6e25;}

nav:after {
  content: "";
  display: table;
  clear: both;
}

.nav ul {
  
  position: relative;
}

.nav a {
  display: block;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

.nav ul ul.submenu {
  display: none;
  position: absolute;
  top: 60px;
  background: transparent;    
}

.nav ul li:hover > ul { display:block;}

.nav ul li ul.submenu li {
  width: 350px;
  float: none;
  display: list-item;
  position: relative;
  background: #ffffff;
  padding-right: 0;
  margin-bottom: 4px;
  text-align: left;
}

.nav ul li ul.submenu li ul {left: 51%;top: 40px;}
    
.nav ul li ul.submenu li a {color: #000000;line-height: 40px!important;padding:0 5px;}
.nav ul li ul.submenu li a:hover {color: #000000;background:#e2e2e2;}
.nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

/*li > a:after { content: ' +'; }*/

/*li > a:only-child:after { content: ''; }*/



.header .nav ul li div.search-container input::placeholder{color: rgba(255, 255, 255, 1);}
.bnr_sldr .item .banner-sec{position: relative;top: 0;display: flex;}
.bnr_sldr .item .banner-sec video{width:100%;height: 738px;object-fit: cover;background-color: rgba(0,0,0,0.7);}
.bnr_sldr .item .banner-sec .banner_overlay{position: absolute;width: 100%;top: 0;height: 738px;background-color: rgba(0,0,0,0.4);}
.bnr_sldr .item .banner-sec .banner_overlay .content{padding: 15% 0 0 0;}
.bnr_sldr .item .banner-sec .banner_overlay .content .content-details{width: 60%;}
.bnr_sldr .item .banner-sec .banner_overlay .content .content-details h2{color: #ffffff;}
.bnr_sldr .item .banner-sec .banner_overlay .content .content-details p{color: #ffffff;padding: 20px 0;}
.bnr_sldr .item .banner-sec .banner_overlay .content .content-details p span{font-size: 38px;font-weight: 700;}
.bnr_sldr .item .banner-sec .banner_overlay .content .content-list ul{text-align: left;padding-top: 150px;}
.bnr_sldr .item .banner-sec .banner_overlay .content .content-list ul li{width:33.33%;float: left;border-bottom: 1px solid #ffffff;line-height: 45px;}
.bnr_sldr .item .banner-sec .banner_overlay .content .content-list ul li a{color: #ffffff;}
.bnr_sldr .item .banner-sec .banner_overlay .content .content-list ul li:first-child{border-bottom: 1px solid #cf1c1c;}
.bnr_sldr .item .banner-sec .banner_overlay .content .content-list ul li a:hover{color: #cf1c1c;transition:1s;}

.about_techTr .about_techTr_img img{width: 460px;height: auto;border-radius: 14px;}
.about_techTr .about_techTr_content p span{font-weight: 700; text-decoration: underline;}
.about_techTr .about_techTr_content .thr_principles .thr_principles_dtl .thr_principles-icon{width:50px;background:#edecec;text-align: center;padding:5px 0;float: left;}
.about_techTr .about_techTr_content .thr_principles .thr_principles_dtl .thr_principles-icon span svg{width:40px;height: auto;}
.our_strengths{background: #ededed;}
.our_strengths .our_strengths_contnt{text-align: center;}
.our_strengths .any_projects ul li {display: inline-flex;width:30%;}
.our_strengths .any_projects ul li div.projects_blogs img{}
.our_strengths .any_projects ul li div.projects_blogs .projects_txt{background: #ef6e25;padding: 18px 10px;text-align: center;height: 145px;border-bottom:5px solid rgba(255,255,255,0.9);color: #ffffff;}
.our_strengths .any_projects ul li div.projects_blogs .projects_txt p{color: #ffffff;font-size: 14px;}
.our_strengths .any_projects ul li div.projects_blogs .blog_tranprnt {width: 60px;height: 60px;border-radius: 50px;background-color: rgba(255,255,255,0.9);position: relative;margin-top: -25px;}
.our_strengths .any_projects ul li div.projects_blogs .blog_tranprnt .blogs_icon {background: #525252;width: 50px;height: 50px;border-radius: 50px;position: absolute;top: 5px;left: 0;right: 0;}
.our_strengths .any_projects ul li div.projects_blogs .blog_tranprnt .blogs_icon svg{width: 24px;height: 24px;margin: 12px;}
.our_strengths .any_projects ul li div.projects_blogs .blog_tranprnt .blogs_icon svg [data-color="1"]{fill: #ffffff;}

.intive_res_dev .res_dev_contnt h2{font-size: 42px;color: #000000;}
.intive_res_dev .res_dev_contnt .res_dev_btn a{background: #ef6e25;color: #ffffff;padding: 16px 70px;border-radius: 5px;display: inline-block;font-weight: 700;float: right;}
.intive_res_dev .res_dev_contnt .res_dev_btn a:hover{background-color:#595959;}
.intive_res_dev .res_dev_sec ul{text-align: center;}
.intive_res_dev .res_dev_sec ul li{position: relative;display: inline-flex;width: 30%;}
.intive_res_dev .res_dev_sec .letst_advermnt_contnt{position: absolute;top:0;color: #ffffff;font-weight: 700;padding: 24px;text-align: left;}
.intive_res_dev .res_dev_sec .letst_advermnt_contnt .btm_cont{padding-top: 140px;}
.advce_manufrng {background: #ededed;}
.advce_manufrng .advce_manufrng_contnt{padding: 45px 95px;}
.advce_manufrng .advce_manufrng_vdo{height: 100%;}
.advce_manufrng .advce_manufrng_vdo video{object-fit: cover;}
.advce_manufrng_steps{background:#ef6e25;}
.advce_manufrng_steps .item-slidr ul li{display: inline-flex;width: 30%;text-align: left;}
.advce_manufrng_steps .item-slidr ul li .icon svg{width: 60px;}
.advce_manufrng_steps .item-slidr ul li .icon svg [data-color="1"]{fill:#ffffff;}
.advce_manufrng_steps .item-slidr ul li .detls p{font-size:12px;}
.comprnsive_solution{background:#eeeeee;}
.comprnsive_solution .cmp_solutn_heding {text-align: center;}
.comprnsive_solution .cmp_solutn_heding h3{font-size:34px;color:#595959;font-weight: 700;}
.comprnsive_solution .case_studies {display: inline-flex;}
.comprnsive_solution .case_studies .case_studies_contn {background: rgba(255,255,255,1);border-radius: 15px;padding:50px 55px 52px;height: 100%;}
.comprnsive_solution .case_studies .case_studies_contn a{font-size:16px;background: #ef6e25;color: #ffffff;padding: 16px 40px;border-radius: 5px;display: inline-block;font-weight: 700;text-transform: uppercase;margin-top: 100px;}
.comprnsive_solution .case_studies .case_studies_contn a:hover{color:rgb(0, 88, 227);background:transparent;cursor: pointer;}
.comprnsive_solution .case_studies .case_studies_downd{background: rgba(255,255,255,1);border-radius: 15px;height: 100%;}
.comprnsive_solution .case_studies .case_studies_downd .downd_img img{border-radius: 15px;}
.comprnsive_solution .case_studies .case_studies_downd .downd_txt ul li{float: left;text-align: left;}
.comprnsive_solution .case_studies .case_studies_downd .downd_txt ul li:last-child{float: right;}
.comprnsive_solution .case_studies .case_studies_downd .downd_txt ul li .icon svg{width: 42px;height: 42px; float: right;}
.comprnsive_solution .case_studies .case_studies_downd .downd_txt ul li .icon svg [data-color="1"]{fill:#EF6E25;}
.comprnsive_solution .case_studies .case_studies_downd .downd_txt ul li div.txt span{color: #c7c7c7;font-weight: 700;font-size: 14px;}
.blogs{background:#eeeeee;}
.blogs .blogs_sec h2{text-align: center;padding: 30px 0;}
.blogs .blogs_sec ul{text-align: center;}
.blogs .blogs_sec ul li{position: relative;display: inline-flex;width: 30%;}
.blogs .blogs_sec .blogs_contnt{position: absolute;top:0;left:0;right: 0;bottom: 0; color: #ffffff;font-weight: 700;padding: 19px;text-align: left;background-color: rgba(0, 0, 0, .4);}
.blogs .blogs_sec .blogs_contnt .btm_cont{padding-top: 150px;}
.blogs .blogs_sec ul li:hover div.btm_cont h5{color: #e8e6e6;}
.blogs .blogs_sec .view_btn a{background: #ef6e25;color: #ffffff;padding: 12px 45px;border-radius: 5px;display: inline-block;font-weight: 700;}
.blogs .blogs_sec .view_btn a:hover{background-color:#595959;}
.faqs{background:#fafafa;padding-bottom: 50px;}
.faqs .faqs_headng{text-align: center;}
.faqs .faqs_detls .img img{border-radius: 15px;}
.faqs .faqs_detls .tab_sec ul.tabs li{float: left;padding: 0 20px;}
.faqs .faqs_detls .tab_sec ul.tabs li{font-size:14px;line-height:34px;color: #000000;cursor: pointer;}
.faqs .faqs_detls .tab_sec ul.tabs li.current{color: #ef6e25;font-weight: 700;}
.faqs .faqs_detls .tab_sec .tabs_detls{overflow-y: scroll;height: 250px;}
.faqs .faqs_detls .tab_sec .tabs_detls .tab-content{display: none;}
.faqs .faqs_detls .tab_sec .tabs_detls .current{display: block;}
.faqs .faqs_detls .slick-slider ul.slick-dots{display: none !important;}
.faqs .faqs_detls .tab_sec .select-dropdown{display: none;}
.faqs .faqs_detls .tab_sec .select-dropdown select{width: 100%;font-size: 16px;height: 40px;border: 2px solid #000000;padding: 0 10px;color:#ef6e25;}

.accordion-wrapper {position: relative;margin-bottom: .5rem;border-bottom: 1px solid #ef6e25;background-color: transparent;}
.accordion-wrapper .acc-head h6{font-size: 16px;} 
.accordion-wrapper .acc-body p{font-size: 14px;}
.acc-head{position: relative;padding-right: 25px;}
.acc-head::after{content: '\276F';
  position: absolute;
  right: 16px;
  color: grey;
  transform: rotate(90deg);
  transition: .4s;
  top:16px;    
}
.acc-head.active::after
{
  content: '\276F';
  position: absolute;
  right: 16px;
  color: grey;
  transform: rotate(-90deg);
  transition: .4s;
}
.acc-body
{
  padding: 10px 10px 10px 0;
  display: none;
  
}

.tab-content {
  animation:accordn .4s ease-out;
}
@keyframes accordn {
  0% {
    opacity:0;
    transform:translateY(100%)
  }
  to {
    opacity:1;
    transform:translateY(0)
  }
}
   
.footer .ftr_logo img{width: 30%;}
.footer svg{width:32px;height:32px;}
.footer svg [data-color="1"]{fill:#ef6e25;}
.footer .ftr_address{display: inline-flex;}
.footer .contact{border-bottom: 1px solid #000000;}
.footer .contact ul{width: 100%;}
.footer .contact ul li{float: left;width: 32%;display: inline-flex;}
.footer .contact ul li div.icon{float: left;}
.footer .contact ul li div.icon svg{fill:#ef6e25;width: 27px;}
.footer .contact ul li div.txt a{color: #000000;line-height: 30px;font-size: 16px;}
.form-control {border: 2px solid #ef6e25;border-radius: 0;font-size: 14px;font-weight: 600;color: #000000;}
.form-control:focus{border-color:#ef6e25;box-shadow: none;}
.form-control::placeholder{color: rgba(0, 0, 0, 1);}
.btn-primary{color: #ffffff;background-color: #ef6e25;border-color: #ef6e25;text-transform: uppercase;font-weight: 700;width: 100%;}
.btn-primary:focus, .btn-primary:hover{background-color:#595959;border-color: #595959;box-shadow: none;}
.footer .follow_us ul li{float: left;width: 30px;height: 30px;margin: 0 3px;}
.footer .follow_us .careers_btn{display: inline-block;float: right;}
.footer .follow_us .careers_btn a{background-color:#282626;font-size: 16px; color: #ffffff;padding: 12px 30px;border-radius: 5px;font-weight: 600;text-decoration: underline;}
.footer .follow_us .careers_btn a:hover{background-color: rgba(255,255,255,1);color: #000;border: 1px solid #000;}
.footer .copyright span a{color: #000000;font-weight: 600;text-decoration: underline;}
.footer .mbl{display: none;}
.footer .desk{display: block;}

/****** slick slider css ****/
.bnr_sldr .slick-next {right: 30px;}
.bnr_sldr .slick-prev{left: 30px;z-index: 1;}
.bnr_sldr .slick-next:before{font-family: FontAwesome;content: '\f105';font-size: 50px;}
.bnr_sldr .slick-prev:before{font-family: FontAwesome;content: '\f104';font-size: 50px;}
.bnr_sldr .slick-dots{display: none;}

.advce_manufrng_steps .item-slidr ul.multiple-items .slick-dots li{width: 10px;height: 10px;margin: 0 10px;}
.advce_manufrng_steps .item-slidr ul.multiple-items .slick-dots li button{width: 10px;height: 10px;}
.advce_manufrng_steps .item-slidr ul.multiple-items .slick-dots li button:before{width:8px;height:8px;background:#ffffff;border: 2px solid #ffffff;border-radius: 50%;opacity: 1;color: transparent;line-height: 0;}
.advce_manufrng_steps .item-slidr ul.multiple-items .slick-dots li.slick-active button:before{border: 2px solid #ffffff;border-radius: 50%;background:#ef6e25;width:10px;height:10px;}

.case-studies-item .slick-dots{bottom: -55px;}
.case-studies-item .slick-dots li{margin: 0 2px;}
.case-studies-item .slick-dots li button:before{font-size: 30px;color: #ef6e25;opacity: 1;}
.case-studies-item .slick-dots li.slick-active button:before{color:#595959;}
.case-studies-item .slick-next{right: -35px;}
.case-studies-item .slick-prev{left: -35px;z-index: 1;}
.case-studies-item .slick-next:before{font-family: FontAwesome;content: '\f105';font-size: 50px;color: #ef6e25;}
.case-studies-item .slick-prev:before{font-family: FontAwesome;content: '\f104';font-size: 50px;color: #ef6e25;}

/****** slick slider css ****/





